*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}
:root {
  --black1: #000000; 
  --black2: #0D0D0D;
  --black3: #1A1A1A;
  --black4: #27272A;
  --white1: #FFFFFF;
  --white2: #DFDFD6;
  --white3: #A1A1AA;
  --green1: #86CE34; 
  --green2: #5baa00;
  --green3: #366600;
}
body {
  background-color: var(--black1);
}